<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-div">
  <table class="table-container" style="width:99%">
    <thead class="head-container">
      <tr>
        <th style="width:20%">Comments</th>
        <th style="width:20%">Vote Count</th>
        <th style="width:19%">Upvote</th>
        <th style="width:40%">News Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newsList;let i = index">
        <!-- //<ng-container *ngIf="isAllowed(item.hidden)"> -->
        <td>0</td>
        <td>{{item.votes}}</td>
        <td><i class="fa fa-sort-up icon" (click)="countVotes($event,item)"></i></td>
        <td>{{item.value}} <button>[hide]</button></td>
        <!-- //</ng-container> -->
      </tr>

    </tbody>
    <tbody>

    </tbody>
  </table>
  <div class="pagination-row">
    <label>Previous | Next</label>
  </div>
  <hr class="line-container">
  <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
</div>