<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main-div">
  <table class="table-container" style="width:99%">
    <thead class="head-container">
      <tr>
        <th style="width:20%">Comments</th>
        <th style="width:20%">Vote Count</th>
        <th style="width:19%">Upvote</th>
        <th style="width:40%">News Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newsList| paginate: config;let i=index" [hidden]="item.hidden"
        [ngClass]="{'hidden':item.hidden}">
        <ng-container>
          <td>{{item.id}}</td>
          <td>{{item.votes}}</td>
          <td><i class="fa fa-sort-up icon" (click)="countVotes(item)"></i></td>
          <td>{{item.value}} <button (click)="hideRow(item)">[hide]</button></td>
        </ng-container>
      </tr>

    </tbody>
    <tbody>

    </tbody>
  </table>

  <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">


    <div class="custom-pagination" style="float: right;
    margin-right: 4px;">
      <div class="pagination-label">
        <span (click)="p.previous()">
          Previous </span> |
      </div>
      <div class="pagination-label">
        <span (click)="p.next()"> Next </span>
      </div>
    </div>

  </pagination-template>
  <hr class="line-container">

  <span class="yAxis">Votes</span>
  <canvas #lineChart>{{ chart }}</canvas>

  <span class="xAxis">ID</span>
  <hr class="line-container">
</div>